@media screen and (max-width: 991px) {
  .menuIcon {
    display: block;
    margin-right: 10px;
  }

  .typAnim1 {}

  /* .navs {
    display: none;
  } */
  .navlinks {
    position: absolute;
    align-items: center;
    flex-direction: column;
    background-color: #420080;
    left: -100%;
    top: 100%;
    width: 100%;
    padding: 10px 10px;
    transition: 0.2s ease-out;
  }

  .navlinks.active1 {
    left: 0;
  }

  .menubar {
    display: block;
  }

  #menuIcon {
    display: block;
  }
}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 479px) {
  .typAnim1 {
    border: none;
    margin: 0;
  }

  @keyframes typing {
    from {
      right: 100%;
    }
  }

  .flex {
    gap: 50%;
    flex-direction: column;
  }

}