.source-code-pro-1a {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 650;
}

.typAnim1 {
  margin-left: 100px;
  padding-left: 10px;
  background-color: #20204a;
  color: #e3d5d5;
  font-size: 5vh;
  width: 22ch;
  animation: typing 2s steps(21), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 15px solid;
  border-color: #e3d5d5;
}

@keyframes typing {
  from {
    width: 0px;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.wholeRow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 100px;
  gap: 100px;
}

.intro .row1 {
  justify-content: flex-end;
  align-items: center;
  gap: 250px;
}

.desc1 {
  font-family: cursive;
  font-size: 3.5vh;
  max-width: 1000px;
}

.intro .row1 .col1 {
  width: 40%;
}

.intro .row1 .col2 {
  width: 40%;
}

.col2 img {
  width: 100%;
  border-radius: 300px;
  max-width: 500px;
}

.cyth1 {
  margin-top: 300px;
}

.cyth1 .row1 {
  margin-top: 200px;
  align-items: center;
}

.cyth1 .row1 .col1 {
  padding: 45px 0;
  background-color: #00000079;
  color: whitesmoke;
  border-radius: 10px;
  width: 40%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}


.cyth1 .row1 .col2 {
  width: 50%;
}

.paraBack1 {
  background-color: #00000079;
  padding: 25px 25px;
  border-radius: 25px;
}

.para1 {
  padding: 10px 20px;
  width: 85%;
}

.cythimg1 {
  width: 400px;

}

.cyth2 {
  margin-top: 100px;
}

.cyth2 .row1 {
  align-items: center;
}

.cyth2 .row1 .col1 {
  padding: 45px 0;
  background-color: #00000079;
  color: whitesmoke;
  border-radius: 10px;
  width: 40%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.cyth2 .row1 .col2 {
  width: 50%;
}


.btn1 {
  margin-top: 20px;
  border: none;
  border-radius: 25px;
  background-color: #00000079;
  color: whitesmoke;
  padding: 10px 10px;
  transition: all 0.3s ease-out;
}


.btn1:hover {
  transform: translateX(10px);
  background-color: whitesmoke;
  color: #000000;
  cursor: pointer;

}

.cstds {
  margin-top: 300px;
}

.cstds .row1 {
  margin-top: 200px;
}

.cstds .row1 .col1 {
  width: 40%;
}

.cstds .row1 .col2 {
  width: 40%;
}

.h3 {
  margin: 0 255px;
  margin-bottom: 50px;
}