h2 {
    margin-top: 100px;
    margin-bottom: 20px;
}

.form {
    margin: 100px 650px;
    font-size: 1.5em;
}

.form .row1 {
    gap: 100px;
}

.wholeRow {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.ctn {
    margin: 50px 0;
}

#name {
    width: 250px;
    height: 30px;
}

#email {
    width: 250px;
    height: 30px;
}

.btn1 {
    margin-top: 20px;
    border: none;
    border-radius: 25px;
    background-color: #00000079;
    color: whitesmoke;
    padding: 15px 20px;
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.3s ease-out;
}

.btn1:hover {
    transform: translateY(-10px);
    background-color: whitesmoke;
    color: #000000;
    cursor: pointer;

}

p {
    margin-top: 50px;
    text-align: center;
    font-size: 1.5em;
}