.h3 {
    margin: 50px 660px;
    margin-top: 100px;
}

.team .row1 .col2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    font-size: 2.4vh;
}

.teamimg {
    border: 2px solid #868080;
    width: 13vw;
}

.wholeRow {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    margin-top: 200px;
}

.team {
    margin-top: 300px;
}

.team .row1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 25px 25px;
    border-radius: 25px;
    align-items: center;
}


.team .row1 .col2 {
    width: 60%;
}